.navbar {
  background-color: #ffffff;
}

.navbar-container {
  max-width: 1280px;
  height: 64px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.logo-job {
  color: #6b3ac2;
  margin-right: 4px;
}

.logo-portal {
  color: #fa4f09;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 24px;
  font-weight: 500;
}

.navbar-links a {
  text-decoration: none;
  color: #000;
}

.navbar-auth {
  display: flex;
  gap: 8px;
}

.register-btn {
  background-color: #dc2626;
  color: #fff;
}

.register-btn:hover {
  background-color: #b91c1c;
}

.avatar {
  cursor: pointer;
}

/* Popover */
.popover-box {
  width: 320px;
}

.popover-header {
  display: flex;
  gap: 16px;
  align-items: center;
}

.popover-header h3 {
  font-weight: 500;
}

.popover-header p {
  font-size: 14px;
  color: gray;
}

.popover-actions {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #4b5563;
}

.action-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
